:root{
  --mainColor: #8e44ad;
  --whiteColor: #ecf0f1;
}
*{
  margin: 0;
  padding: 0;
}
/* font-family: 'Anton', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Koulen', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Orelega One', cursive; */
/* #8e44ad */
a{
  text-decoration: none;
}
img{
  width: 100%;
}





.mainSection{
  padding-top: 50px;
  min-height: 100vh;
}
.scroll-top {
  background-color: var(--mainColor) ;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  /* display: none; */
  color: var(--whiteColor);
}


.slider{
  position: relative;
}
.arrows{
  font-size: 40px;
}
.rightarrow{
  position: absolute;
  top: 30%;
  right: 30px;
  transition: all ease-in-out 0.3s;
}
.rightarrow:hover{
  right: 20px;
}

.leftarrow{
  position: absolute;
  top: 30%;
  left: 30px;
  transition: all ease-in-out 0.3s;
}

.leftarrow:hover{
  left: 20px;

}

.tabs {
  text-align: center;
  margin-bottom: 1em;
  

}
.tabs a:not(:last-child){
  /* border-right: 1px solid black; */

}
.tabs a{
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  color: var(--whiteColor) !important;
  display: inline-block;
  padding: .9em 1.5em;
  text-align: center;
  background-color: var(--mainColor);
 cursor: pointer;
 transition: all ease-in-out 0.3s;
}

.tabs a:hover{
  padding: .9em 2.3em;

}




.errorSection{
  background-color: rgba(196, 63, 63, 0.404);
  border-radius: 10px;
  margin:1em 1.2em;
  padding: 30px 50px;
  position: relative;
  display: none;
}
.closeError{
  position: absolute;
  top: 10px;
  right: 20px;
}


.items{
  max-width: 30%;
}
.items img{
  height: auto;
}










.footer{
  padding: 50px 30px;
  background-color: rgb(31, 29, 29);
  color: aliceblue;


}
.copyRights{
  /* padding: 20px ; */
  background-color:#2d3436;
  color: aliceblue;
  text-align: center;
  margin: 0;
}




/* ************************** contact us ***************************************** */
.verificationsBox
{
  display: none ;
}

.verificationsBox div
{
  width: 100px;
  animation-name: example;
  animation-duration: 4s;
  margin-top: 2em;
  position: relative;
  width: 80%;
  /* bottom: 100px; */
 }

 @keyframes example { 
   0%   {left:0px; }
 25%  { left:200px;}
 50%  { left:200px;}
 75%  { left:0px; }
 100% {left:0px; }
 }
/* The element to apply the animation to */
